<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="test.mawujun.repository.BaseCityMapper">
	<sql id="BaseColumns">
		id as id,name as name,age as age,price as price,createDate
		as createDate,sex as sex
	</sql>
	<sql id="BaseFields">
		id,name,age,price,createDate,sex
	</sql>

	<sql id="WhereColumns">
		<where>
			<if test="id != null">
				id = #{id}
			</if>
			<if test=" name!= null">
				 name= #{name}
			</if>
			<if test=" age!= null">
				 age= #{age}
			</if>
			<if test=" price!= null">
				 price= #{price}
			</if>
			<if test=" createDate!= null">
				 createDate= #{createDate}
			</if>
			<if test=" sex!= null">
				 sex= #{sex}
			</if>
		</where>
	</sql>

	<sql id="getById">
		select
		<includerefid="test.mawujun.repository.BaseCityMapper.BaseColumns" />
		from t_city where id = #{id}
	</sql>

	<sql id="getByMap">
		select
		<include refid="test.mawujun.repository.BaseCityMapper.BaseColumns" />
		from t_city
		<include refid="test.mawujun.repository.BaseCityMapper.WhereColumns" />
		LIMIT 0,1
	</sql>

	<sql id="getListByMap">
		select
		<include
			refid="test.mawujun.repository.BaseCityMapper.BaseColumns" />
		from t_city
		<include
			refid="test.mawujun.repository.BaseCityMapper.WhereColumns" />
	</sql>

	<sql id="getPageListByMap">
		select
		<include
			refid="test.mawujun.repository.BaseCityMapper.BaseColumns" />
		from t_city
		<include
			refid="test.mawujun.repository.BaseCityMapper.WhereColumns" />
	</sql>

	<sql id="getCounts">
		select count(id) from t_city
		<include
			refid="test.mawujun.repository.BaseCityMapper.WhereColumns" />
	</sql>

	<sql id="save">
		INSERT into t_city(
		<include refid="test.mawujun.repository.BaseCityMapper.BaseFields" />
		)
		VALUES( #{id},#{name},#{age},#{price},#{createDate},#{sex})
	</sql>

	<sql id="update">
		UPDATE t_city set 
		<if test=" name!= null"> , name= #{name} </if>
		<if test=" age!= null"> , age= #{age} </if>
		<if test=" price!= null"> , price= #{price} </if>
		<if test=" createDate!= null"> ,createDate = #{createDate} </if>
		<if test=" sex!= null"> , sex= #{sex} </if>
		WHERE id = #{id}
	</sql>

	<sql id="remove">
		DELETE from t_city
		<if test="_parameter.size() == 0">
			WHERE 1=2
		</if>
		<include refid="test.mawujun.repository.BaseCityMapper.WhereColumns" />
	</sql>

	<sql id="removeById">
		DELETE from t_city where id = #{value}
	</sql>

	<sql id="removeByIds">
		DELETE from t_city WHERE id in
		<foreach collection="array" index="index" item="item" open="("
			separator="," close=")">
			#{item}
		</foreach>
	</sql>

	<sql id="removeByMap">
		DELETE FROM t_city
		<if test="_parameter.size() == 0">
			WHERE 1=2
		</if>
		<include refid="test.mawujun.repository.BaseCityMapper.WhereColumns" />
	</sql>
</mapper>

 