<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="test.mawujun.repository.CityMapper">
    <!-- START::: 系统自动生成，请勿修改  -->
    <select id="getById" resultType="city" parameterType="java.lang.String">
        <include refid="test.mawujun.repository.BaseCityMapper.getById"></include>
    </select>
    <select id="getByMap" resultType="city" parameterType="java.util.Map">
        <include refid="test.mawujun.repository.BaseCityMapper.getByMap"></include>
    </select>
    <select id="getByEntity" resultType="city" parameterType="city">
        <include refid="test.mawujun.repository.BaseCityMapper.getByMap"></include>
    </select>
    
    <select id="getMapById" resultType="beanmap" parameterType="java.lang.String">
        <include refid="test.mawujun.repository.BaseCityMapper.getById"></include>
    </select>
    <select id="getMapByMap" resultType="beanmap" parameterType="java.util.Map">
        <include refid="test.mawujun.repository.BaseCityMapper.getByMap"></include>
    </select>
    <select id="getMapByEntity" resultType="beanmap" parameterType="city">
        <include refid="test.mawujun.repository.BaseCityMapper.getByMap"></include>
    </select>

    <select id="listByMap" resultType="city" parameterType="java.util.Map">
        <include refid="test.mawujun.repository.BaseCityMapper.getListByMap"></include>
    </select>
    <select id="listByEntity" resultType="city" parameterType="city">
        <include refid="test.mawujun.repository.BaseCityMapper.getListByMap"></include>
    </select>

    <select id="listPageByMap" resultType="city" parameterType="java.util.Map">
        <include refid="test.mawujun.repository.BaseCityMapper.listPageByMap"></include>
    </select>

    <select id="getCounts" resultType="int" parameterType="java.util.Map">
        <include refid="test.mawujun.repository.BaseCityMapper.getCounts"></include>
    </select>
    <select id="getCountsByEntity" resultType="int" parameterType="city">
        <include refid="test.mawujun.repository.BaseCityMapper.getCounts"></include>
    </select>

    <insert id="create" keyProperty="id" parameterType="city">
        <selectKey resultType="java.lang.String" order="BEFORE" keyProperty="id">
            select IFNULL(#{id}, UUID());
        </selectKey> 
        <include refid="test.mawujun.repository.BaseCityMapper.create"></include>
    </insert>

    <update id="update" parameterType="city">
        <include refid="test.mawujun.repository.BaseCityMapper.update"></include>
    </update>
    <update id="updateByMap" parameterType="map">
        <include refid="test.mawujun.repository.BaseCityMapper.update"></include>
    </update>

    <delete id="remove" parameterType="city">
        <include refid="test.mawujun.repository.BaseCityMapper.remove"></include>
    </delete>

    <delete id="removeById" parameterType="java.lang.String">
        <include refid="test.mawujun.repository.BaseCityMapper.removeById"></include>
    </delete>

    <delete id="removeByIds">
        <include refid="test.mawujun.repository.BaseCityMapper.removeByIds"></include>
    </delete>

    <delete id="removeByMap" parameterType="java.util.Map">
        <include refid="test.mawujun.repository.BaseCityMapper.removeByMap"></include>
    </delete>
    
    <!-- 如果是使用自增id的话，就不需要这种方式了，直接使用自增的就可以，并且id属性不需要设置了 -->
    <insert id="createBatch" keyProperty="id" parameterType="list"> 
    	INSERT into t_city(
			<include refid="test.mawujun.repository.BaseCityMapper.BaseFields" />
		)
		SELECT IFNULL(#{id}, UUID()), A.* from (
         <foreach collection="list" item="item" index="index" separator="union all">
         SELECT 
           #{item.name},#{item.age},#{item.price},#{item.createDate},#{item.sex}
         FROM DUAL
         </foreach> ) A
    </insert>
    <update id="updateBatch" parameterType="list">
	    <foreach collection="list" item="item" index="index" separator=";">
	    	<include refid="test.mawujun.repository.BaseCityMapper.update1"><property name="alias" value="item"/></include>
	    </foreach>
    </update>
    
    <!--  END::: 系统自动生成，请勿修改  -->
    <!-- TODO：自定义的接口写在下面 -->
</mapper>

 